ML/Advanced_Deep_Learning_with_PyTorch/data/
ML/Advanced_Deep_Learning_with_PyTorch/weights/
.DS_Store
.ipynb_checkpoint
ML/Advanced_Deep_Learning_with_PyTorch/pytorch_advanced/
ML/Advanced_Deep_Learning_with_PyTorch/.ipynb_checkpoints
ML/Advanced_Deep_Learning_with_PyTorch/.DS_Store
ML/Advanced_Deep_Learning_with_PyTorch/2-4-5_SSD_model_forward.ipynb
.gitignore
kaggle/.ipynb_checkpoints/Global Wheat Detection Note-checkpoint.ipynb
Misc/.ipynb_checkpoints/